.icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  margin: 1rem 0.25rem;
  border-radius: 12px;
  color: #000;
}
.power:hover {
  font-size: 19px;
  color: rgb(95, 3, 3);
}
.house:hover {
  font-size: 19px;
  color: rgb(3, 147, 58);
}
.user:hover {
  font-size: 19px;
  color: rgb(5, 69, 196);
}
